* { box-sizing: border-box; }
 
 body {
 	font-family: arial;
 }

 h1 {
 	text-align: center;
 	font-size: 175%;
 }
 .title {
 	position: absolute;
 	top: -1px;
 	right: -1px;
 	padding-right: 10px;
 	padding-left: 10px;
 	text-align: center;
 	border: 1px solid black;
 	font-size: 125%;
 }

 #block1, #block2, #block3 {	
 	padding: 10px;
 }

 #block1 .content, #block2 .content, #block3 .content {
 	font-size: 1rem;
 	background-color: #009977;
 	position: relative;
 	border:2px solid black;
 	padding: 10px;


 }
 
#block1 .title {
	background-color: pink;

}

#block2 .title {
	background-color: red;
}

#block3 .title {
	background-color: yellow;
}

/* desktop  */
@media (min-width: 992px) {
	#block1, #block2, #block3 {
		display: inline-block;
		width: 33%;
	} 
}

/*tablet*/
@media (min-width:768px) and (max-width: 991px) {
	#block1, #block2, #block3 {
		display: inline-block;
	} 

	#block1, #block2 {
		width: 49.5%;
	}

	#block3 {
		width: 100%;
	}

}

/*mobile*/
@media (max-width: 767px) {
	#block1, #block2, #block3 {
		display: inline-block;
		width: 100%;
	} 

}
